/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

/* Estilos para o modal */
.modal {
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  position: relative; /* Necessário para posicionar o botão de fechar */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.card {
  margin-bottom: 1rem; /* Espaçamento entre os cartões */
}

.esconder {
  display: none;
}
